body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.loadImg {
    height: auto;
    left: 0;
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: auto;
    z-index: 1; 
}

.bg-img {
    height: auto;
    left: 0;
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: auto;
}

.img-text {
    overflow: visible;
    position: relative;
}
.img-text img {
    width: 100%;
    height: auto;
}
.img-text p {
    background-color: rgba(18, 42, 54, 0.8);
    bottom: 0;
    color: white;
    left: calc(-1 * 50%);
    margin: 0;
    opacity: 0;
    padding: 1em;
    position: relative;
    width: calc(200% - 2em);
    border-radius: 1.5rem;
    box-shadow: 3px 3px 13px 0px rgba(11, 26, 34, 0.3);
}
.img-text:hover p {
    opacity: 1;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
}

.puffContainer {
    position: relative;
    width: 150px;
    margin-top: 3rem;
    margin-left: 22rem;
}

.afterPuff {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.puffContainer:hover .overlay {
    opacity: 1;
}

.afterPuff {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.creature {
    position: absolute;
    cursor: pointer;
}

img.crab-move {
    animation: crabMover 0.5s infinite  alternate;
}
img.crab-move {
    animation: crabMover 0.5s infinite  alternate;
}
@keyframes crabMover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

img.octo-move {
    animation: octoMover 1.25s infinite  alternate;
}
img.octo-move {
    animation: octoMover 1.25s infinite  alternate;
}
@keyframes octoMover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-18px); }
}

img.jelly-move {
    animation: jellyMover 3.5s infinite  alternate;
}
img.jelly-move {
    animation: jellyMover 3.5s infinite  alternate;
}
@keyframes jellyMover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

img.puff-move {
    animation: puffMover 2s infinite  alternate;
}
img.puff-move {
    animation: puffMover 2s infinite  alternate;
}
@keyframes puffMover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-15px); }
}

.puffBubbles {
    margin-left: 29rem;
    margin-top: -3rem;
    margin-bottom: -7rem;
    animation: puffMover 2s infinite  alternate;
}
.crabBubbles {
    margin-left: 30.25rem;
    margin-top: -3rem;
    margin-bottom: -16rem;
    animation: crabMover 0.5s infinite  alternate;
}
.octoBubbles {
    margin-left: 30rem;
    margin-top: -3rem;
    margin-bottom: -15rem;
    animation: octoMover 1.25s infinite  alternate;
}

#closeUpPlankton {
    margin-left: -5rem;
    margin-top: -31rem;
    opacity: 0;
    transition: opacity 0.4s;
}


/*Modal CSS*/
.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}
  
.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}
  
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
  
#myBtn{
    position: absolute;
    font-weight: 700;
    font-size: 1rem;
    right: 0;
    bottom: 0;
    margin-bottom: 2rem;
    margin-right: 2rem;
    background-color: #B5E48F;
    color: #FFFFFF;
    border-radius: 1.5rem;
    border: none;
    padding: 0.65rem 2rem;
    transition: background 0.5s;
    cursor: pointer;
}

#learnMore {
    background-color: #B5E48F;
    color: #FFFFFF;
    border-radius: 1.5rem;
    border: none;
    padding: 0.65rem 2rem;
    transition: background 0.5s;
    cursor: pointer;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

#myBtn:hover, #learnMore:hover {
    background-color: #82B15C;
}


.modal-header {
    padding: 2px 16px;
    background-color: #82B15C;
    color: white;
}
  
.modal-body {padding: 1rem 2rem;}
  
  
/* Modal Animation*/
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}
  
@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes slideOut {
    from {bottom: -0; opacity: 1} 
    to {bottom: -300px; opacity: 0}
}
  
@keyframes slideOut {
    from {bottom: 0px; opacity: 1}
    to {bottom: -300px; opacity: 0}
}
  
@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}
  
@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@-webkit-keyframes fadeOut {
    from {opacity: 1} 
    to {opacity: 0}
}
  
@keyframes fadeOut {
    from {opacity: 0} 
    to {opacity: 1}
}

#starfish img {
    -webkit-animation: in 1s;
}

#starfish:hover img {
    -webkit-animation: out 1s;
}

@-webkit-keyframes in {
    from   { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg);}
}

@-webkit-keyframes out {
    0%   { -webkit-transform: rotate(360deg); }
    100% { -webkit-transform: rotate(0deg); }
}

@keyframes MoveUpDown {
    0%, 100% {
      bottom: 0;
    }
    50% {
      bottom: 50px;
    }
  }